<!DOCTYPE html>
<html lang="es">
<head>
<title>Veterinaria</title>
<link rel="stylesheet" href="static/estilos.css">
</head>
<body>
<header>
   <img src="static/img/veterinaria.jpg" width="200px">
   <h1 class="centrado">VETERI CHAE</h1>
</header>

<nav>
    <ul>
        <li><a href="/layout">NOSOTROS</a></li>
        <li><a href="/chaefresita">CHAEFRESITA</a></li>
        <li><a href="/durazmomo">DURAZMOMO</a></li>
        <li><a href="/manzanayeon">MANZANAYEON</a></li>
        <li><a href="/contacto">CONTACTO</a></li>
    </ul>
</nav>
<section class="main" >
    <section class="articles">
            <article>
                <h2 class="rigth"> CHAEFRESITA </h2>
                <p> Criatura, comúnmente vista en los jardines y parques, es una pequeña figura antropomórfica hecha completamente de fresa. Su cuerpo es esponjoso y suave, con un color rojo vibrante que recuerda a una fresa madura y jugosa. Sus ojos brillan con chispas de diversión y curiosidad, mientras que su nariz pequeña se arruga con cada nuevo olor delicioso que encuentra.
                    <br>
                    <br>
                    A pesar de su naturaleza juguetona, también tiene un lado gentil y protector. Siempre está ahí para consolar a sus amigos cuando están tristes o para animarlos cuando lo necesitan. Además, es un gran amante de la comida, especialmente de otras frutas y postres, y siempre está dispuesto a compartir su amor por las delicias frutales con cualquiera que esté dispuesto a probarlas.</p>
                <div style="text-align: center;" >
                    <img src="static/img/CHAEFRESITA.png" width="200px">
                </div>
           </article>
            <article>
                <p>En resumen, esta persona hecha de fresa es una adición encantadora y colorida a cualquier comunidad, trayendo consigo una dosis de alegría y dulzura a donde quiera que vaya.</p>
            </article>
            <br>
    </section> 
</section> 
</body>
</html>